{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Topic List
    <a href="{% url 'catalog:topic-create' %}" class="btn btn-primary link-to-page">
      Add topic
    </a>
  </h1>

  <br>
  <form action="" method="get" class="form-inline">
    {{ search_form|crispy }}
    <input type="submit" class="btn btn-secondary" value="🔍">
  </form>

  <br>

  {% if topic_list %}
    <table class="table table-hover" style="background-color: rgba(245, 245, 245, 0.4)">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>

      {% for topic in topic_list %}
        <tr>
          <td>
              {{ topic.id }}
          </td>
          <td>
              {{ topic.name }}
          </td>
          <td style="text-align: center">
            <a href="{% url 'catalog:topic-update' pk=topic.id %}">
              📝
            </a>
          </td>
          <td style="text-align: center">
            <a href="{% url 'catalog:topic-delete' pk=topic.id %}">
              ❌️
            </a>
          </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
      <p>There are no topic in the newspaper agency.</p>
  {% endif %}
{% endblock %}
